
/.vs/
/bin/
/obj/
/Features/TeamWork/Forms/TeamWork.Articles.resx
/Features/TeamWork/Forms/TeamWork.Events.resx
/Features/TeamWork/Forms/TeamWork.Helpers.resx
/Features/TeamWork/Forms/TeamWork.WorkDivisions.resx
/Properties/_PublishProfiles/anyCPU.pubxml
/.vscode
*.csproj.Backup.tmp
