<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SewingProduction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/McSkin</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="SewingProduction.Properties.Settings.ACEbackupConnectionString"
      connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ACE_backup_new;Persist Security Info=True;User ID=sa;Password=kf,bhbyn;Encrypt=False" />
    <add name="SewingProduction.Properties.Settings.GlobalConnectionString"
      connectionString="Data Source=GLOBAL;Initial Catalog=PLANETA;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SewingProduction.Properties.Settings.ACEbackupnewConnectionString"
      connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ACE_backup_new;User ID=sa;Password=kf,bhbyn;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SewingProduction.Properties.Settings.OMSConnectionString"
      connectionString="Data Source=OMS;Initial Catalog=PLANETA;User ID=readonly;Password=qwerty12345;Encrypt=False" />
    <add name="SewingProduction.Properties.Settings.ACEConnectionString"
      connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ace;Persist Security Info=True;User ID=sa;Password=kf,bhbyn;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SewingProduction.Properties.Settings.ACEtestConnectionString"
      connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ACE;Persist Security Info=True;User ID=sa;Password=kf,bhbyn;Encrypt=False" />
  </connectionStrings>
  <userSettings>
    <SewingProduction.Properties.Settings>
      <setting name="NormRaskrNew_GridSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedTheme" serializeAs="String">
        <value>Gold</value>
      </setting>
      <setting name="AppSkin" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
    </SewingProduction.Properties.Settings>
  </userSettings>
</configuration>