<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SewingProduction.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SewingProduction.Properties.Settings.GlobalConnectionString"
            connectionString="Data Source=GLOBAL;Initial Catalog=PLANETA;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="SewingProduction.Properties.Settings.ACEConnectionString1"
            connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ACE_backup;User ID=sa;Password=kf,bhbyn;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="SewingProduction.Properties.Settings.OMSConnectionString"
            connectionString="Data Source=OMS;Initial Catalog=PLANETA;User ID=readonly;Password=qwerty12345;Encrypt=False" />
        <add name="SewingProduction.Properties.Settings.ACEConnectionString"
            connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ace_backup_new;Persist Security Info=True;User ID=sa;Password=kf,bhbyn;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="SewingProduction.Properties.Settings.ACEtestConnectionString"
            connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ACE_test;Persist Security Info=True;User ID=sa;Password=kf,bhbyn;Encrypt=False" />
        <add name="SewingProduction.Properties.Settings.ACEConnectionString2"
            connectionString="Data Source=DBFSV\DBF2008;Initial Catalog=ACE;Persist Security Info=True;User ID=sa;Password=kf,bhbyn;Encrypt=False" />
    </connectionStrings>
    <userSettings>
        <SewingProduction.Properties.Settings>
            <setting name="NormRaskrNew_GridSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Gold</value>
            </setting>
        </SewingProduction.Properties.Settings>
    </userSettings>
</configuration>