<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>170</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\dbfsv\ACE\SewingProduction\ClickOnce\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows7.0\app.publish\</PublishDir>
    <PublishUrl>\\dbfsv\ACE\SewingProduction\ClickOnce\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ProductName>Clever</ProductName>
    <PublisherName>КлеверИТ</PublisherName>
    <TargetCulture>ru-RU</TargetCulture>
    <ManifestCertificateThumbprint>1E955ED5E70C17FC8FCB9D0FB8E71FC29A4B7968</ManifestCertificateThumbprint>
    <ManifestKeyFile>SewingProduction_TemporaryKey.pfx</ManifestKeyFile>
    <UseApplicationTrust>False</UseApplicationTrust>
    <UpdateUrl>\\dbfsv\ACE\SewingProduction\ClickOnce\</UpdateUrl>
    <History>True|2026-02-18T14:02:43.7770963Z||;False|2026-02-18T17:02:05.8994722+03:00||;False|2026-02-18T17:01:51.4069826+03:00||;True|2026-02-12T17:02:32.4177780+03:00||;True|2026-02-12T14:07:48.4712211+03:00||;True|2026-02-11T14:24:30.1422678+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Resources\AppIcons\favicon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\cat-cat-rainbow.gif">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\favicon_io (1)\favicon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\loading_dude.gif">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>Среда выполнения .NET для классических приложений 8.0.23 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>