<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>88</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\dbfsv\ACE\SewingProduction\ClickOnce32\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows7.0\win-x86\app.publish\</PublishDir>
    <PublishUrl>\\dbfsv\ACE\SewingProduction\ClickOnce32\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ProductName>Швейное Производство</ProductName>
    <PublisherName>КлеверИТ</PublisherName>
    <TargetCulture>ru-RU</TargetCulture>
    <ManifestCertificateThumbprint>1E955ED5E70C17FC8FCB9D0FB8E71FC29A4B7968</ManifestCertificateThumbprint>
    <ManifestKeyFile>SewingProduction_TemporaryKey.pfx</ManifestKeyFile>
    <UseApplicationTrust>False</UseApplicationTrust>
    <UpdateUrl>\\dbfsv\ACE\SewingProduction\ClickOnce32\</UpdateUrl>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <History>True|2025-10-10T10:35:31.2349190Z||;True|2025-10-09T10:06:21.7267836+03:00||;True|2025-10-06T17:19:10.5768809+03:00||;True|2025-10-06T17:12:08.5414804+03:00||;True|2025-09-26T16:22:55.1577302+03:00||;True|2025-09-25T16:31:08.9404817+03:00||;True|2025-09-25T08:16:50.6672913+03:00||;True|2025-09-23T13:53:36.9229458+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Resources\favicon_io (1)\favicon.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>